



<div>
  <h1>Films</h1>
  <!--<span>{{ film.title }}
  </span>
  <span>{{ film.popularity}}</span>-->
  <div  *ngFor="let film of listFilm">
    <!--<img src="./assets/{{film.poster_path}}" class='posterOver' (click)="{{filmS}}"><br/>-->

    <span>{{film.title}}</span><br/>
    <!--<span><img src="http://image.tmdb.org/t/p/w500/{{film.poster_path}}"></span><br/>-->
    <span>{{film.popularity}}</span><br/>

    <a [routerLink]="['/detail', film.id ]"><img [src]="posterUrl + film.poster_path"></a>

  </div>
</div>
